Django==4.2
djangorestframework==3.16.1
channels==4.3.2
channels-redis==4.2.1
celery==5.6.3
redis==7.0.1
Pillow==11.3.0
opencv-python==4.13.0.92
ultralytics==8.4.70
torch==2.8.0
torchvision==0.23.0
numpy
